@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Bold";
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "C059";
  src: url("/fonts/C059/c059-bold.otf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "C059 Bold";
  src: url("/fonts/C059/c059-bold.otf");
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "KeeponTruckin";
  src: url("/fonts/KeeponTruckin.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Genty";
  src: url("/fonts/GentyDemo-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Feud";
  src: url("/fonts/HelveticaNeue-CondensedBold.ttf");
  font-style: normal;
  font-display: swap;
}

.text-shadow {
  text-shadow: 1px 1px 5px black;
}
