@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Bold";
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "C059";
  src: url("/fonts/C059/c059-bold.otf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "C059 Bold";
  src: url("/fonts/C059/c059-bold.otf");
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "KeeponTruckin";
  src: url("/fonts/KeeponTruckin.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Genty";
  src: url("/fonts/GentyDemo-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Feud";
  src: url("/fonts/HelveticaNeue-CondensedBold.ttf");
  font-style: normal;
  font-display: swap;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.game-video-bg {
  position: absolute;
  top: 0px;
  left: 0px;
}

.anim-blink {
  animation: blink-animation 0.75s steps(2, start) infinite;
  -webkit-animation: blink-animation 0.75s steps(2, start) infinite;
}

.text-3d {
  text-shadow: 0 1px 0 #17202A, 0 2px 0 #17202A,
    0 7px 0 #17202A, 0 8px 0 #17202A,
    0 11px 0 #17202A, 0 12px 0 #17202A;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.label-front {
  position: fixed;
}
.label-back {
  transform: rotateY(180deg);
}

.text-shadow {
  text-shadow: 1px 1px 5px black;
}

.drop-shadow {
  filter: drop-shadow(0 0.5rem 0.75rem black) !important;
}

.fm-bg-overlay-container {
  z-index: 10;
  position: fixed;
}

.fm-bg-overlay {
  width: 100%;
  height: 100%;
}

.final-round-cursor-container {
  z-index: 8;
  width: 100%;
  height: 85px;
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  transition: width 0.4s;
  transition-timing-function: linear;
  background: black;
}

.final-round-cursor {
  opacity: 0;
  position: absolute;
  background-image: url('/fm-cursor.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 85px;
  width: 85px;
  left: 0px;
  
  top: -3px;
}

.final-round-cursor-container.revealed {
  width: 85px;
}

.final-round-cursor-container.revealed .final-round-cursor {
  opacity: 1;
}

.final-round-cursor-container.pts-revealed {
  opacity: 0;
}

.final-round-total {
  display: flex;
  align-items: center;
  justify-content: end;

  position: fixed;
  height: 10%;
  width: 10%;
  bottom: 10.5rem;
  right: 18.5rem;

  font-size: 4rem;
  color: "white";
  z-index: 20;
}

.final-round-timer {
  z-index: 20;
  font-family: "feud";
  
  position: fixed;
  height: 10%;
  width: 10%;
  bottom: 0.75rem;
  left: 45%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 10%;
  margin: auto;
  -moz-border-radius: 50%;
  border: 6px solid whitesmoke;
  border-radius: 50%;

  color: white;
  font-size: 4rem;
  text-align: center;
  background: radial-gradient(ellipse at center top, rgb(153,220,255) 0%, rgb(91,162,253) 19%, rgb(2,58,156) 70%);
}

.final-round-answer {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "feud";
  z-index: 6;
  height: 90px;
}

.bg-fastm-holder {
  display: flex;
  align-items: center;
  height: 90px;
}

.final-round-answer-container {
  background-color: white;
}

.answer-points {
  background: linear-gradient(1turn, rgb(var(--colors-primary-1100)) 30%, 60%, rgb(var(--colors-primary-100)));
}

.points-container {
  perspective: 300px;
  transform-style: preserve-3d;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 2vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.team-points {
  font-family: "feud";
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 0px 2rem;
  padding: 0px 4rem;

  -moz-border-radius: 50%;
  border: 6px solid whitesmoke;
  border-radius: 50%;

  color: white;
  font-size: 5rem;
  text-align: center;
  background: radial-gradient(ellipse at center top, rgb(153,220,255) 0%, rgb(91,162,253) 19%, rgb(2,58,156) 70%);
}

.round-points.buzzer-page {
  margin: 0px 2rem;
  padding: 0px 4rem;

  -moz-border-radius: 50%;
  border: 6px solid whitesmoke;

  color: white;
  font-size: 4rem;
  text-align: center;
  background: rgb(2,58,156);
}

.round-points {
  font-family: "feud";
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 4rem 2rem;
  padding: 0px 4rem;

  color: white;
  font-size: 10rem;
  text-align: center;
}

.buzzer-page .question-board {
  margin-top: 1rem !important;
}

.top-50 {
  top: 50%;
}

.left-50 {
  left: 50%;
}

.transform-hide {
  transform: scale(0);
}

.transform-show {
  transform: scale(1);
}

.transition-bounce {
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
